.container-fluid{
  background-color: #03003D;
}

.banner{
  height: auto;
}
.banner h1{
  color: #fff;
  font-size: 5rem;
}

.banner h6{
  color: #fff;
  font-size: 1rem;
}

.banner h3{
  color: #fff;
  font-size: 2.76rem;
}

.banner .cv-btn{
  background:linear-gradient(to right,  #FF5F6D, #FFC371);
}

.socials a{
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #fff;
}



/* Media queries */

@media (max-width: 768px) {
  .banner{
    height: auto;
  }
  .banner h1{
    font-size: 3rem;
  }
  .banner h6{
    font-size: 1rem;
  }
  .banner h3{
    font-size: 2rem;
  }

}

/* media query for tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner{
    height: auto;
  }
  .banner h1{
    font-size: 3rem;
  }
  .banner h6{
    font-size: 1rem;
  }
  .banner h3{
    font-size: 2rem;
  }

}

@media screen and (min-width: 820px) and (max-width: 1180px){
  .banner{
    height: auto;
  }
  .banner h1{
    font-size: 3rem;
  }
  .banner h6{
    font-size: 1rem;
  }
  .banner h3{
    font-size: 2rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
  .banner{
    height: auto;
  }
  .banner h1{
    font-size: 3rem;
  }
  .banner h6{
    font-size: 1rem;
  }
  .banner h3{
    font-size: 2rem;
  }
}

